@charset "utf-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FDB2A1;
    color: #001E1E;
}
h1{
    background-color:#f55936c2 ;
   }
main{
    background-color: white;
}
   footer{
    background-color: black;
    color: white;
    font-size: 0.7em;
   }
nav > a{
    width: 500px;
    background-color: #f55936c2;
    color: black;
    text-decoration: none;
}